# Auto detect text files and perform LF normalization
* text=auto
# Apply override to all files and directories in the directory
lib/** linguist-vendored
dlls_x64/** linguist-vendored
dlls_x86/** linguist-vendored