:root {
    color: #202020;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    border-color: #aaa;
}

h4 {
    padding: 0;
    margin: 12px 0 0 0;
}

code {
    font-family: 'Cascadia Code', monospace;
    font-weight: 500;
    background-color: #ccc;
    color: #444 !important;

    padding: 3px 5px;
    border-radius: 6px;
}

img {
    border-radius: 12px;
    margin: 4px;
}

table, th, td {
    border: 1px solid #0003;
}